html, body {
    background: url(./images/goodbackground.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top:65px;
}